<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Easy restaurant finder for you">
  <link rel="icon" href="favicon.png">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <title>LuweRene | Restaurant Finder</title>
</head>

<body>
  <a tabindex="0" href="#maincontent" class="skip-link">Menuju ke konten</a>

  <header>
    <div class="container">
      <app-bar></app-bar>
      <hero-element></hero-element>
    </div>
  </header>

  <main id="maincontent"></main>

  <footer>
    <foot-bar></foot-bar>
  </footer>
</body>

</html>