* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f7f9;
  font-family: "Segoe UI", sans-serif;
}

.skip-link {
  position: absolute;
  top: -40px;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 1;
}

.skip-link:visited {
  color: white;
}

.skip-link:focus {
  top: 0;
}

header {
  background-image: url("../public/images/heros/hero-image_2.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

header .container {
  position: relative;
  z-index: 1;
  margin: auto;
  max-width: 1170px;
  width: 100%;
  padding: 32px;
}

header::after {
  content: "";
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
}

.content {
  margin: auto;
  max-width: 1170px;
  width: 100%;
  padding: 32px;
  color: #52525b;
  /* Safari */
}

.content .content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 32px;
}

.content .content__header .content__title {
  margin: 10px 0 32px;
  font-size: 25px;
}

.content .content__header a {
  color: white;
  margin-top: 5px;
  background-color: #bf1722;
  margin-bottom: 24px;
  padding: 12px;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px #8b0000;
          box-shadow: 0 3px #8b0000;
}

.content .content__header a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.content .content__header a:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.content .restaurants {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 10px;
}

.content .restaurants .content-item {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.content .restaurants .content-item img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.content .restaurants .content-item .content-item__info {
  padding: 20px;
}

.content .restaurants .content-item .content-item__info .loc__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .restaurants .content-item .content-item__info .loc__rate .fa-star {
  color: gold;
}

.content .restaurants .content-item .content-item__info h1 {
  font-size: 20px;
}

.content .restaurants .content-item .content-item__info h2,
.content .restaurants .content-item .content-item__info h3 {
  font-size: 15px;
  font-weight: unset;
  padding: 10px 0;
}

.content .restaurants .content-item .content-item__info p {
  font-size: 15px;
  height: 100px;
  overflow: hidden;
}

.content .restaurants .content-item .content-item__info button {
  min-width: 44px;
  min-height: 44px;
  width: 100%;
  letter-spacing: 1px;
  background-color: #bf1722;
  color: white;
  border: 0;
  border-radius: 10px;
  margin-top: 15px;
  -webkit-box-shadow: 0 3px #8b0000;
          box-shadow: 0 3px #8b0000;
}

.content .restaurants .content-item .content-item__info button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.content .restaurants .content-item .content-item__info button:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.content .restaurant .restaurant__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .restaurant .restaurant__container .restaurant__poster {
  max-width: 550px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.content .restaurant .restaurant__container .restaurant__info {
  padding: 20px;
}

.content .restaurant .restaurant__container .restaurant__info .restaurant__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.content .restaurant .restaurant__container .restaurant__info .restaurant__header .fa-star {
  color: gold;
}

.content .restaurant .restaurant__container .restaurant__info h5 {
  font-weight: unset;
  margin-bottom: 15px;
}

.content .restaurant .restaurant__container .restaurant__info h5 span {
  color: white;
  background-color: #52525b;
  padding: 5px 10px;
  border-radius: 20px;
}

.content .restaurant .restaurant__container .restaurant__info h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.content .restaurant .restaurant__container .loc__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.content .restaurant .restaurant__container h1 {
  font-size: 20px;
}

.content .restaurant .restaurant__container h2,
.content .restaurant .restaurant__container h3 {
  font-size: 15px;
}

.content .restaurant .restaurant__container p {
  font-size: 14px;
}

.content .restaurant .restaurant__container .favorite {
  color: white;
  background-color: #bf1722;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
}

.content .restaurant .restaurant__menu {
  margin-bottom: 32px;
}

.content .restaurant .restaurant__menu h1 {
  padding: 10px 0;
  border: 1px solid #dee2e6;
  text-align: center;
  border-radius: 5px;
}

.content .restaurant .restaurant__menu h2 {
  font-size: 20px;
}

.content .restaurant .restaurant__menu .restaurant__menu-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  text-align: center;
  margin-top: 32px;
}

.content .restaurant .restaurant__menu .restaurant__menu-container li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.content .restaurant .restaurant__menu .restaurant__menu-container .restaurant__menu-container-makanan {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.content .restaurant .restaurant__menu .restaurant__menu-container .restaurant__menu-container-makanan h2 {
  margin-bottom: 15px;
  background-color: #52525b;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.content .restaurant .restaurant__menu .restaurant__menu-container .restaurant__menu-container-minuman {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.content .restaurant .restaurant__menu .restaurant__menu-container .restaurant__menu-container-minuman h2 {
  margin-bottom: 15px;
  background-color: #52525b;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.content .restaurant .restaurant__reviews {
  margin-bottom: 10px;
}

.content .restaurant .restaurant__reviews .review-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 32px 0;
}

.content .restaurant .restaurant__reviews .review-form button {
  min-width: 44px;
  min-height: 44px;
  padding: 10px;
  letter-spacing: 1px;
  background-color: #bf1722;
  color: white;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px #8b0000;
          box-shadow: 0 3px #8b0000;
}

.content .restaurant .restaurant__reviews .review-form button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.content .restaurant .restaurant__reviews .review-form button:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.content .restaurant .restaurant__reviews .review-form .input-container {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5px;
  border-radius: 20px;
}

.content .restaurant .restaurant__reviews .review-form .input-container > input {
  min-width: 250px;
  min-height: 44px;
  width: 100%;
  padding: 10px;
  border: 0;
  background-color: #f3f7f9;
  color: #52525b;
}

.content .restaurant .restaurant__reviews .review-form .input-container > input:focus {
  outline: 0;
}

.content .restaurant .restaurant__reviews .review-form .search-input:hover::-webkit-search-cancel-button {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .content .restaurant .restaurant__reviews .review-form .search-container {
    margin-bottom: 32px;
  }
  .content .restaurant .restaurant__reviews .review-form .search-container > input {
    width: 100%;
  }
}

.content .restaurant .restaurant__reviews .restaurant__reviews-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dee2e6;
  padding: 10px 0;
}

.content .restaurant .restaurant__reviews .restaurant__reviews-header h1 {
  margin: auto;
}

.content .restaurant .restaurant__reviews .customer__review-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.content .restaurant .restaurant__reviews .customer__review-container .customer__review-subcontainer {
  padding: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
}

.content .restaurant .restaurant__reviews .customer__review-container .customer__review-subcontainer .review__content {
  margin-top: 10px;
}

.content .restaurant .restaurant__reviews .customer__review-container .customer__review-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #dee2e6;
}

.content .restaurant .restaurant__reviews .customer__review-container .customer__review-header h3 {
  font-size: 15px;
}

.content .restaurant .restaurant__reviews .customer__review-container .customer__review-header p {
  font-size: 12px;
  margin-bottom: 0;
}

.content .restaurant .restaurant__reviews .customer__review-container p {
  margin-bottom: 0;
}

.content .favorite {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .loading {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

.content .warning {
  text-align: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  header {
    min-width: unset;
    width: 100%;
  }
  .restaurant__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurant__container .restaurant__poster {
    max-width: unset !important;
    max-height: unset !important;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1000px) {
  .restaurants {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  .customer__review-container {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  .review-form {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1000px) and (max-width: 600px) {
  .content__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .restaurant__menu-container {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px !important;
  }
  .restaurants {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .customer__review-container {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}
/*# sourceMappingURL=main.css.map */