$font: "Segoe UI", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f7f9;
  font-family: $font;
}

.skip-link {
  position: absolute;
  top: -40px;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 1;

  &:visited {
    color: white;
  }

  &:focus {
    top: 0;
  }
}

header {
  background-image: url("/images/hero-image_2-large.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
    margin: auto;
    max-width: 1170px;
    width: 100%;
    padding: 32px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.content {
  margin: auto;
  max-width: 1170px;
  width: 100%;
  padding: 32px;
  color: #52525b;

  .content__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 32px;

    .content__title {
      margin: 10px 0 32px;
      font-size: 25px;
    }

    a {
      color: white;
      margin-top: 5px;
      background-color: #bf1722;
      margin-bottom: 24px;
      padding: 12px;
      border-radius: 15px;
      box-shadow: 0 3px #8b0000;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:active {
        position: relative;
        top: 3px;
        box-shadow: none;
      }
    }
  }

  .restaurants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 10px;

    .content-item {
      width: 100%;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      img {
        width: 100%;
        height: 250px;
        border-radius: 5px;
      }

      .content-item__info {
        padding: 20px;

        .loc__rate {
          display: flex;
          justify-content: space-between;

          .fa-star {
            color: gold;
          }

          h2 {
            margin-bottom: 0;
          }
        }

        h1 {
          font-size: 20px;
        }

        h2,
        h3 {
          font-size: 15px;
          font-weight: unset;
          padding: 10px 0;
        }

        p {
          font-size: 15px;
          height: 100px;
          margin-bottom: 0;
          overflow: hidden;
        }

        button {
          min-width: 44px;
          min-height: 44px;
          width: 100%;
          letter-spacing: 1px;
          background-color: #bf1722;
          color: white;
          border: 0;
          border-radius: 10px;
          margin-top: 15px;
          box-shadow: 0 3px #8b0000;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }

          &:active {
            position: relative;
            top: 3px;
            box-shadow: none;
          }
        }
      }
    }
  }

  .restaurant {
    .restaurant__container {
      display: flex;
      margin-bottom: 32px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      .restaurant__poster {
        max-width: 550px;
        min-height: 400px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }

      .restaurant__info {
        padding: 20px;

        .restaurant__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          h2 {
            margin-bottom: 0;
          }

          .fa-star {
            color: gold;
          }
        }

        h5 {
          font-weight: unset;
          margin-bottom: 15px;

          span {
            color: white;
            background-color: #52525b;
            padding: 5px 10px;
            border-radius: 20px;
          }
        }

        h4 {
          font-size: 20px;
          margin-bottom: 5px;
        }
      }

      .loc__rate {
        display: flex;
        justify-content: space-between;
      }

      h1 {
        font-size: 20px;
      }

      h2,
      h3 {
        font-size: 15px;
      }

      p {
        font-size: 14px;
      }

      .favorite {
        color: white;
        background-color: #bf1722;
        padding: 10px;
        border-radius: 20px;
        width: 100%;
      }
    }

    .restaurant__menu {
      margin-bottom: 32px;

      h1 {
        padding: 10px 0;
        border: 1px solid #dee2e6;
        text-align: center;
        border-radius: 5px;
      }

      h2 {
        font-size: 20px;
      }

      .restaurant__menu-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        text-align: center;
        margin-top: 32px;

        li {
          list-style: none;
          padding: 10px;
          border-bottom: 1px solid #dee2e6;
        }

        .restaurant__menu-container-makanan {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

          h2 {
            margin-bottom: 15px;
            background-color: #52525b;
            border-radius: 5px;
            padding: 10px;
            color: white;
          }
        }

        .restaurant__menu-container-minuman {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

          h2 {
            margin-bottom: 15px;
            background-color: #52525b;
            border-radius: 5px;
            padding: 10px;
            color: white;
          }
        }
      }
    }

    .restaurant__reviews {
      margin-bottom: 10px;

      .review-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding: 32px 0;

        button {
          min-width: 44px;
          min-height: 44px;
          padding: 10px;
          letter-spacing: 1px;
          background-color: #bf1722;
          color: white;
          border: 0;
          border-radius: 10px;
          box-shadow: 0 3px #8b0000;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }

          &:active {
            position: relative;
            top: 3px;
            box-shadow: none;
          }
        }
        .input-container {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          padding: 5px;
          border-radius: 20px;
        }

        .input-container > input {
          min-width: 250px;
          min-height: 44px;
          width: 100%;
          padding: 10px;
          border: 0;
          background-color: #f3f7f9;
          color: #52525b;
        }

        .input-container > input:focus {
          outline: 0;
        }

        .search-input:hover::-webkit-search-cancel-button {
          cursor: pointer;
        }

        @media screen and (max-width: 600px) {
          .search-container {
            margin-bottom: 32px;
          }

          .search-container > input {
            width: 100%;
          }
        }
      }

      .restaurant__reviews-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #dee2e6;
        padding: 10px 0;

        h1 {
          margin: auto;
        }
      }

      .customer__review-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;

        .customer__review-subcontainer {
          padding: 20px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border-radius: 20px;

          .review__content {
            margin-top: 10px;
          }
        }

        .customer__review-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0 5px 0;
          border-bottom: 1px solid #dee2e6;

          h3 {
            font-size: 15px;
          }

          p {
            font-size: 12px;
            margin-bottom: 0;
          }
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .favorite {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgba(0, 0, 0, 0.1);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .warning {
    text-align: center;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    min-width: unset;
    width: 100%;
  }

  .restaurant__container {
    flex-direction: column;

    .restaurant__poster {
      max-width: unset !important;
      max-height: unset !important;
    }
  }

  @media screen and (max-width: 1000px) {
    .restaurants {
      grid-template-columns: repeat(2, 1fr) !important;
    }

    .customer__review-container {
      grid-template-columns: repeat(2, 1fr) !important;
    }

    .review-form {
      grid-template-columns: repeat(1, 1fr) !important;
    }

    @media screen and (max-width: 600px) {
      header {
        background-image: url("/images/hero-image_2-small.jpg");
      }

      .content__header {
        flex-direction: column;
        text-align: center;
      }

      .restaurant__menu-container {
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 20px !important;
      }

      .restaurants {
        grid-template-columns: repeat(1, 1fr) !important;
      }

      .customer__review-container {
        grid-template-columns: repeat(1, 1fr) !important;
      }
    }
  }
}
